<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org">
<head th:replace ="common/common.html ::html-head "></head>
<div th:replace="common/common.html :: header"></div>
<body>

<div class="container">
    <table class="table table-bordered" th:each="data:${data}">
        <tr>
            <th style="text-align:center;" width="40px" th:text="${data.num}"></th>
            <th style="text-align:center;"              th:text="${data.title}"></th>
            <th style="text-align:center;" width="80px"th:text="${data.writer}"></th>
        </tr>
        <tr>
            <th colspan="5" height="500px;" th:text="${data.content}"></th>
        </tr>
    </table>
    <div class="float-end">
        <form action="#" id="formObj" th:object="${data}" th:action="@{/board/delete/}+${data.num}" th:method="delete">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="num" id="num" th:value="${data.num}">
            <button type="submit" id="btn_del" class="btn btn-Light">삭제하기</button>
            <a th:href="@{|/board/modifyView?num=${data.num}|}">
                <button type="button" id="btn_mod" class="btn btn-Light">수정하기</button>
            </a>
            <button type="button" id="btn_list" class="btn btn-Light">목록</button>
        </form>
    </div>
</div>
</body>
<footer th:replace="common/common.html :: footer"></footer>

<script th:inline="javascript">

    $(document).ready(function(){
        let data = $("#formObj");

        $('#btn_del').click(function(){
            if (confirm("정말 삭제하시겠습니까?") == true){
                data.submit();
            }else{
                return false;
            }
        });

        $('#btn_mod').click(function(){
            location.href="/board/modify"
        });

        $('#btn_list').click(function(){
            location.href="/board/list"
        });
    });


</script>

</html>
