<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org">
<head th:replace ="common/common.html ::html-head "></head>
<div th:replace="common/common.html :: header"></div>
<body>

<div class="container">
<form th:action="@{/board/create}" th:object="${boardDTO}" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="title" class="form-control" id="title" th:field="${boardDTO.title}">
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">내용</label>
        <textarea class="form-control" id="content" rows="3" th:feild="${boardDTO.content}"></textarea>
    </div>

    <div class="float-end">
        <button type="submit" class="btn btn-Light">제출</button>
    </div>
</form>
</div>


</body>
<footer th:replace="common/common.html :: footer"></footer>

</html>