<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org">
<head th:replace ="common/common.html ::html-head "></head>
<div th:replace="common/common.html :: header"></div>
<body>

<div class="container">
    <form action="#" th:object="${data}" method="POST">
        <table class="table table-bordered" th:each="data:${data}">
            <tr>
                <td th:text="${data.title}"></td>
            </tr>
            <tr>
                <td th:text="${data.content}"></td>
            </tr>
            <tr>
                <td th:text="${data.writer}"></td>
            </tr>
        </table>
    </form>
    <div class="float-end">
        <button type="submit" id="btn_add" class="btn btn-Light">수정하기</button>
        <button type="button" id="btn_list" class="btn btn-Light" onclick="cmdList()">목록</button>
    </div>
</div>


</body>
<footer th:replace="common/common.html :: footer"></footer>



<script th:inline="javascript">

    function cmdList(){
        location.href="/board/list";
    };

</script>

</html>
