<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
</head>


<body>
<table>
    <tr>
        <td> 윤종신 </td>
        <td> 몬스터 </td>
    </tr>
    <tr>
        <td> 윤종신 </td>
        <td> 모처럼 </td>

    </tr>

</table>

</body>
</html>